*{
    font-family: 'Merriweather', serif;
}
@media only screen and (min-width: 600px) {
.ryan{
    // /background-color: rgb(26, 24, 24);
    color:black;
}


.ryan{
    display:grid;
    justify-content: center;
    align-content: center;
}

.quoteWrapper{
    border: solid peachpuff .5px;
    border-radius:50%;
    height:95vh;
    width:50vw;
    
}
.quoteWrapper::after {
    content: "";
    clear: both;
    display: table;
  }

.quote{
    margin-top:3%;
    padding:13%;
    font-weight:700;
    font-size:150%;
}

.quotee{
    display: block;
    text-align: right;
    margin-right:4%;
}

.img{
    background-color:red;
    position:fixed;
    top:10%;
    left:5%;
    height:150px;
    width:150px;
    border-radius: 50%;
}

img{
    border-radius: 50%;
}

}


@media only screen and (max-width: 600px) {
    .ryan{
        // /background-color: rgb(26, 24, 24);
        color:black;
    }
    
    
    .ryan{
        display:grid;
        justify-content: center;
        align-content: center;
    }
    
    .quoteWrapper{
        border: solid peachpuff .5px;
        border-radius:15px;
        height:60vh;
        width:80vw;
        
    }
    .quoteWrapper::after {
        content: "";
        clear: both;
        display: table;
      }
    
    .quote{
        margin-top:3%;
        padding:13%;
        font-weight:700;
        font-size:120%;
    }
    
    .quotee{
        display: block;
        text-align: right;
        margin-right:4%;
    }
    
    .img{
        background-color:red;
        position:fixed;
        bottom:5%;
        left:5%;
        height:150px;
        width:150px;
        border-radius: 50%;
        //display:none;
    }
    
    img{
        border-radius: 50%;
    }
    
}