{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/ry.css' %}">
    <link rel="stylesheet" href="{% static 'css/pageable.min.css' %}">
    
</head>
<body>
    

<div id="fullpage">
    
	<div class="ryan" >
        <div class="canvas">
            <span class="img">
                <!-- <img src="" alt="sss" width='150px', height='150px'> -->
            </span>
            <div class="quoteWrapper">
                <div class="quote">well well weell, if it isn't the consequences of my
                    own actions! 
                    <div class="quotee">-Randal</div>
                </div>
                
            </div>
        </div>
    </div>
    
    {% for wish in wishes %}
        <div class="ryan" >
        <div class="canvas">
            <span class="img">
                <img  alt="sss" width='150px', height='150px'  id="img">
            </span>
            <div class="quoteWrapper">
                <div class="quote"> {{wish.quote}}
                    <br><br>    
                    <div class="quotee">-{{wish.quotee}}</div>
                </div>
                
            </div>
        </div>
    </div>
    {% endfor %}
	
</div>

    <script src="{% static 'js/pageable.min.js' %}"> </script>

    <script>
        window.onload=()=>{
        let rys = Array.from(document.getElementsByClassName('ryan'));
        rys.forEach((r)=>{
            r.setAttribute('data-anchor',`page${rys.indexOf(r)+1}`);
            console.log(r);
        });

        new Pageable('#fullpage',{
            animation:800,
            infinite:true,
        })
        let img= `<img src='https://lorempixel.com/150/150/abstract'  alt="sss" width='150px', height='150px'  id="img">`
        let mages = Array.from(document.getElementsByClassName('img'));
        mages.forEach((el)=>{
            el.innerHTML+=img;
        })
        }
    </script>
</body>
</html>


